{% extends 'base_books.html' %}

{% block content %}

<head>
  <title>Book Details</title>
</head>

<h2>Detailed information about a book</h2>
</br>

<center>

<div style="width: 70%;">
    <div class="card text-center">
        <div class="card-header" style="text-align: left; margin: 0px; font-size: larger;">
          <strong>{{ book }}</strong>
        </div>
        <div class="card-body">
          <p class="card-text" style="text-align: left; margin: 0px;">Author: <a href="{% url 'author_details' book.author_id %}">{{ book.author }}</a></p>
          <p class="card-text" style="text-align: left; margin: 0px;">Genre: {{ book.genre }}</p>
          <p class="card-text" style="text-align: left; margin: 0px;">Number of pages: {{ book.pages }}</p>
          <p class="card-text" style="text-align: left; margin: 0px;">Description: {{ book.description }}</p>
        </div>
        <div class="card-footer text-body-secondary">
          <div style="float: left;">
          <a href="{% url 'edit_book' book.id %}" class="btn btn-warning">Edit</a>
          <a href="{% url 'delete_book' book.id %}" class="btn btn-danger">Delete</a>
        </div>
        <div style="float: right;">
          <a href="/django_projects/books_project/all_books_and_authors" class="btn btn-secondary">All Books and Authors</a>
          <a href="/django_projects/books_project/add_books_and_authors" class="btn btn-secondary">Add Books and Authors</a>
        </div>
      </div>
</div>

</center>

{% endblock content %}