{% extends 'base_books.html' %}

{% block inner_content %}

<title>Books Project Main Page</title>

<div class="container-fluid custom-content">
    <h2>Books Project</h2>
    <p>The purpose of this project is to allow users to store information about books and authors in a database and access the data whenever they want.
        Users can add new books and authors, delete and edit already existing books and authors, and search for books and authors using the search bar.
        Using the dropdown menu "Books Project" on the navigation bar, you can access the form for adding new books and authors and a list of already existing books and authors.
        Once you are on the page with all books and authors, you can click on each book title and author name to be redirected to the pages where the detailed information about each item is displayed.
        Then, you will be able to access the edit and delete options by clicking on buttons with respective names.
    </p>
</div>
{% endblock %}