{% extends 'base.html' %}

{% block content %}

<head>
    <title>CV</title>
</head>

<style>
    .container {
        display: flex;
        margin: 0px;
        padding: 0px;
    }
    .column {
        flex: 1;
        margin: 0px;
        padding: 0px;
    }
    .column:first-child {
        flex: 0.5; /* Set the width of the first column */
        margin: 0px;
        padding: 0px;
    }
</style>


<center>
    <div style="margin: 0px; padding: 0px;">
        <p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: large; font-weight: bold;">NATALJA TOMASEVICA</p>
        <p style="margin-left: 10px; margin-right: 10px; font-size: small; margin-top: 0px; margin-bottom: 0px;">• +447388248713 • <a href="mailto:tomasevica.natalja@gmail.com">tomasevica.natalja@gmail.com</a> • <a href="https://www.linkedin.com/in/nataljatomasevica/">https://www.linkedin.com/in/nataljatomasevica/</a> • <a href="https://github.com/natalja-tomasevica">https://github.com/natalja-tomasevica</a> • </br> • Languages: English, Russian, Latvian •</p>
    </div>
</center>
<hr width="100%">
<p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: medium; font-weight: bold;">PROFESSIONAL SUMMARY</p>
<p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: small;">Aspiring data scientist and software developer with an interest in machine learning seeking a challenging graduate position to leverage my academic knowledge, analytical skills, and programming expertise to contribute to innovative projects and solutions. Recently graduated from Northumbria University with a degree in Physics with Astrophysics and pursued various projects and specialisations to enhance my computer science skills and knowledge.</p>
<hr width="100%">
<p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: medium; font-weight: bold;">EDUCATION</p>
<div class="container">
    <div class="column">
        <p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: small;">2020-2023</p>
    </div>
    <div class="column">
        <p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: small;">BSc (Hons) Physics with Astrophysics, Northumbria University, Newcastle upon Tyne, the UK.</p></br>
        <p style="margin-left: 10px; margin-right: 10px; margin-top: 0px; margin-bottom: 0px; font-size: small;"><strong>Physics modules:</strong> computational physics, astrophysics and cosmology, solar physics, quantum physics, dynamics, electromagnetism, optics, thermodynamics</p>
        <p style="margin-left: 10px; margin-right: 10px; margin-top: 0px; margin-bottom: 0px; font-size: small;"><strong>Mathematics modules:</strong> calculus, advanced mathematics, dynamical systems</p>
        <p style="margin-left: 10px; margin-right: 10px; margin-top: 0px; margin-bottom: 0px; font-size: small;"><strong>Relevant experience:</strong> computer programming, data analytics, scientific research, technical report writing</p>
    </div>
</div>
<hr width="100%">
<p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: medium; font-weight: bold;">PROFESSIONAL CERTIFICATES</p>
<p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: small;"><strong>Meta Back-End Developer</strong> (Coursera) earned on May 28, 2024</br>
    Main topics: programming in Python, back-end development, full stack development, working with databases, building Django projects, version control, APIs.</p>
<p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: small;"><strong>Google Advanced Data Analytics</strong> (Coursera) earned on May 29, 2024</br>
    Main topics: programming in Python, data analytics and data science, exploring large datasets, applying data analysis techniques, building models to extract insights, machine learning, predictive modelling, statistics.</p>  
<hr width="100%">
<p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: medium; font-weight: bold;">PROJECTS</p>
<p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: small;"><strong>Building a machine learning model to predict a class of an astronomical object</strong> (Jupyter Notebook, Python, NumPy, Pandas, Matplotlib, Seaborn, Scikit-learn, TensorFlow with Keras)</br>
    Analysed a dataset of 10,000 records of observations of space and built decision tree, linear regression, and KNN classification models to predict if an observation is a star, a galaxy, or a quasar</p>
<p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: small;"><strong>Building a machine learning model to predict user churn</strong> (Jupyter Notebook, Python, NumPy, Pandas, Matplotlib, Seaborn, Scikit-learn, SciPy)</br>
    Analysed a dataset of 15,000 records of user data and built random forest and XGBoost classification models to predict user churn</p>
<p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: small;"><strong>Building a Django app that allows users to perform CRUD operations</strong> (Visual Studio Code, Django, MySQL, Python, JavaScript, CSS, HTML)</br>
    Built an app, where on a webpage users can create, read, update, and delete data stored in a MySQL database</p>  
<hr width="100%">
<p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: medium; font-weight: bold;">TECHNICAL SKILLS</p>
<p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: small;">
<ul style="margin-left: -10px; margin-right: 0px; margin-top: 0px; margin-bottom: 0px; font-size: small;">
    <li>Languages: Python, JavaScript, CSS, HTML, SQL (MySQL, Microsoft SQL Server)</li>
    <li>Libraries: Pandas, NumPy, Matplotlib, Seaborn, Scikit-learn, XGBoost, Tensorflow with Keras</li>
    <li>Data science skills: database management, EDA including data visualisation using Python, Power BI, Tableau, Excel</li>
    <li>Analytical skills: predictive modelling, probability and statistics, hypothesis testing</li>
    <li>Machine learning algorithms: linear regression, logistic regression, classification, decision trees, random forest</li>
    <li>Software development skills: Django, API, Git, Bootstrap</li>
</ul>
</p>
<hr width="100%">
<p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: medium; font-weight: bold;">SOFT SKILLS</p>
<p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 0px; font-size: small;">
    <ul style="margin-left: -10px; margin-right: 0px; margin-top: 0px; margin-bottom: 0px; font-size: small;">
        <li>Problem solving and critical thinking: demonstrated ability to identify and solve complex problems</li>
        <li>Attention to detail: a meticulous approach to data analysis and reporting</li>
        <li>Communication: strong verbal and written communication skills</li>
        <li>Team collaboration: proven ability to work effectively in team-oriented environments</li>
        <li>Strategic planning: proven experience in managing time effectively, multitasking several projects, and delivering work on time</li>
        <li>Adaptability: proven ability to adapt to any situation, to work under pressure, and to learn new skills quickly</li>
    </ul>
</p>


     
    
{% endblock content %}


