<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Portfolio</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Projects
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/data_projects">Data Projects</a></li>
              <li><a class="dropdown-item" href="/django_projects">Django Projects</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Books Project</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/django_projects/books_project/books_main_page">Main Page</a></li>
                <li><a class="dropdown-item" href="/django_projects/books_project/add_books_and_authors">Add Books and Authors</a></li>
                <li><a class="dropdown-item" href="/django_projects/books_project/all_books_and_authors">All Books and Authors</a></li>
            </ul>
        </li>
    </ul>
    <form class="d-flex" role="search" method="GET" action="{% url 'search' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" style="height: 40px;">
        <button class="btn btn-outline-secondary" type="submit" style="height: 40px;">Search</button>
      </form>
      </div>
    </div>
  </nav>
    
    <style>
    .nav-item{
      color: black;
    }
    .container-fluid{
      list-style-type: none;
      background-color: #C7B7A3;
      padding-top: 0px;
      margin: 0px;
      top: 0;
      z-index: 100;
      position: fixed;
      width: 100%;
      height: 50px;
    }
    .d-flex{
      height: 40px;
    }
    </style>