
{% extends 'base.html' %}

{% block content %}

{% load static %}

<head>
  <title>Home</title>
</head>

<p style="margin-top: 10px; font-size: larger; margin-left: 15px"><i>Welcome to my personal website! Here, you will find information about my education, projects, skills, and experiences.</i></p>
<p style="font-size: larger; margin-left: 15px; margin-bottom: 0px;"><strong>Natalja Tomasevica - Aspiring Data Scientist and Software Developer with an Interest in Machine Learning</strong></p>


<div class="row row-cols-2 row-cols-md-2 g-4" style="justify-content: start; width: 100%; margin: 0px; margin-bottom: 0px; padding-bottom: 0px; margin-left: 0px; margin-right: 0px;">
  <figure class="figure" style="width: 25%; float: left; margin-bottom: 0px; padding-bottom: 0px;">
  <img src="{% static 'app/20240414_144221.jpg' %}" class="figure-img img-fluid rounded" alt="Natalja" style="margin-bottom: 0px; padding-bottom: 0px;">
  </figure>
  <div class="col" style="width: 75%; float: right; margin-bottom: 0px; padding-bottom: 0px;">
    <p class="card-text" style="margin-bottom: 0px; padding-bottom: 0px;">
      <strong>Introduction</strong></br>
      I recently graduated from Northumbria University with a degree in Physics with Astrophysics.
      Pursuing a STEM degree allowed me to achieve a high level of knowledge in various comprehensive fields in physics and mathematics as well as 
      taught me to be resilient and always keep learning. Throughout my academic journey, I developed a deep interest in data science, 
      software development, and machine learning. This led me to pursue various projects and specialisations to enhance my computer science 
      skills and knowledge. I have completed a Meta Back-End Developer Professional Certificate consisted of 9 courses that helped me to prepare 
      for an entry-level career in software development. The main topics included programming in Python, version control, Git, Django and APIs. </br>
      I have also completed a Google Advanced Data Analytics Professional Certificate consisted of 7 courses that helped me to prepare for a career 
      in data science and data analytics. The main topics included programming in Python, exploring large datasets, applying data analysis techniques, 
      building models to extract insights, machine learning, predictive modelling, and statistics. Both specialisations included hands-on, 
      practice-based experiences and allowed me to become more proficient in such comprehensive fields. I am passionate about 
      learning and eager to leverage my background and experiences to contribute to </br>innovative tech projects and solutions.
    </p>
  </div>

</div>
<p class="card-text" style="margin-bottom: 0px; padding-bottom: 0px; margin-left: 15px; margin-top: 20px;"><strong>Portfolio</strong></br>
  I have created this website with the purpose to showcase my projects and prove my skills and knowledge. On the navigation bar, you can find the 
  dropdown menu "Projects", where are two sections "Data Science </br>and Machine Learning Projects (a.k.a DS and ML Projects)" and "Django Projects". 
  Currently, there are 2 projects in each section. In DS and ML Projects, I concentrated on analysing large datasetets by performing </br>EDA (including 
  creating data visualisations), and building machine learning models to predict the target value. In Django Projects, I wanted to showcase my 
  software developer skills and created a simple calculator and a more complex books app. The books app is connected with a MySQL database and 
  allows you to perform CRUD (i.e., create, read, update, delete) operations on the data.
</p>

<p class="card-text" style="margin-bottom: 0px; padding-bottom: 0px; margin-left: 15px; margin-top: 20px;"><strong>CV and contact information</strong></br>
  My CV in a PDF format can be accessed 
  <a href="{% static 'app/CV_Natalja_Tomasevica.pdf' %}" download>here</a>. At my GitHub account <a href="https://github.com/natalja-tomasevica">github.com/natalja-tomasevica</a> you can find all my repositories and see my code. 
  Feel free to contact me anytime either by phone +447388248713, by email <a href="mailto:tomasevica.natalja@gmail.com">tomasevica.natalja@gmail.com</a>, or using LinkedIn <a href="https://www.linkedin.com/in/nataljatomasevica/">linkedin.com/in/nataljatomasevica/</a>.
  I am always happy to discuss my experiences and projects as well as answer any questions you might have!
</p>


{% endblock content %}